html {
 font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;   
}

body {
    display: flex;
    margin: 0;
}

#results {        
    width: 30%;
    height: 100vh;
    text-indent: 10px;
    border-right: solid;
}

#game {
    width: 100%;
    display: grid;
    place-items: center;
}

#summary {
    margin: 200px;
    text-align: center;
}

#buttons {
    display: flex;
    position: relative;
    top: -250px;
}

.choice-button {
    margin: 10px;
}

#again {
    position: fixed;
    bottom: 200px;
}

@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    #game {
        order: 1;
        height: 70%;
    }

    #summary {
        margin: auto;
        position: relative;
        top: 100px;
    }

    #buttons {
        position: relative;
        top: -60px
    }

    #again {
        position: fixed;
        bottom: 330px;
    }

    #results {
        order: 2;
        width: 100%;
        height: auto;
        border-right: none;
        border-top: solid;
        text-align: center;
    }
}

@media (min-width: 701px) and (max-width: 930px) {
    #summary {
        width: 120%;
    }
}